{% extends "admin/base_site.html" %}
{% load static %}

{% block content %}
<div id="content" class="content">
    <div class="module">
        <h1>{{ opts.verbose_name_plural|capfirst }}</h1>
        <div class="object-tools">
            <a href="{{ add_url }}" class="addlink">Add Content</a>
        </div>

        <form id="changelist-form" method="post" novalidate>
            <div class="results">
                <table id="result_list" class="table table-striped table-bordered changelist">
                    <thead>
                        <tr>
                            <th scope="col" class="column-header">
                                <div class="text">
                                    <span>Section</span>
                                </div>
                            </th>
                            <th scope="col" class="column-header">
                                <div class="text">
                                    <span>Course</span>
                                </div>
                            </th>
                            <th scope="col" class="column-header">
                                <div class="text">
                                    <span>Video</span>
                                </div>
                            </th>
                            <th scope="col" class="column-header">
                                <div class="text">
                                    <span>Content</span>
                                </div>
                            </th>
                            <th scope="col" class="column-header">
                                <div class="text">
                                    <span>Questions</span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for content in content_list %}
                        <tr class="row1">
                            <td class="field-section">{{ content.course }}</td>
                            <td class="field-course">{{ content.section }}</td>
                            <td class="field-video">
                                <a href="{{ content.video }}" target="_blank">{{ content.content.video }}</a>
                            </td>
                            <td class="field-content">{{ content.content.content }}</td>
                            <td class="field-questions">{{ content.content.questions }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>
{% endblock %}